body {
  background:#000;
  color:#cfcfcf;
  font-family: "Courier New", monospace;
  margin:0;
  padding:20px;
}

/* NAV */
nav {
  border-bottom:1px solid #0ff;
  padding-bottom:10px;
}

nav a {
  margin-right:20px;
  color:#7aa;
  text-decoration:none;
}

.active {
  color:#0ff;
}

/* STATUS BOX */
.status-box {
  border:1px solid #0ff;
  padding:20px;
  margin-top:30px;
  color:#0ff;
}

.status-box .title {
  color:#7aa;
}

/* PIXEL TITLE */
.pixel {
  font-size:64px;
  color:#0ff;
  text-shadow:0 0 8px #0ff;
  margin-top:40px;
}

/* TERMINAL */
.terminal {
  color:#39ff14;
  margin-top:20px;
}

/* MANIFESTO */
.manifesto {
  margin-top:20px;
  max-width:800px;
}

.manifesto h2 {
  color:#00ccff;
}

.manifesto h3 {
  color:#39ff14;
}

.manifesto span {
  color:#0ff;
}

/* RESPONSIVE */
@media (max-width:600px){
  .pixel {
    font-size:42px;
  }
}
